<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">ClimasX</div>
        <a href="home.html">Home</a>
        <a href="login.html">login</a>
        <a href="cadastro.html">cadastro</a>
    </header>

    <h1 style="text-align: center;"><i>Documentação</i></h1><br>

    <legend>
        <div></div>
    </legend>
</body>
</html>