<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>ClimasX</title>
</head>
<body>
    <header>
        <nav>
            <a class="logo">ClimasX</a>
            <a href="como_funciona.html"><i>Comofunciona</i></a>
            <a href="#Contatos"><i>Contatos</i></a>
            <a href="login.html"><i>login<i></a>
            <a href="cadastro.html"><i>Cadastro</i></a>
        </nav>
    </header>
    <h1>Veja o clima da sua região 🌤️</h1>
    <p>Consulte temperatura, clima e previsão em tempo real</p>

    <div class="search">
        <input type="text" placeholder="Digite sua cidade...">
        <a href="#" class="btn">Buscar</a>
    </div>
</section>

<footer id="contatos">
    <p>© 2026 ClimasX - Todos os direitos reservados</p>
</footer>
</body>
</html>